<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<link rel="stylesheet" href="/static/css/error.css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<body marginwidth="0" marginheight="0">
    <div id="block_error">
        <div>
         <h2>We're not ready yet, but we still want to do your search!</h2>
        <p>
        You've reached this page because there was an error in your search. We're a new service, these things happen.</p>
        <p>
        But we still want to do your search for you. <b>Just email us at <a href="mailto:info@socialbrites.com">info@socialbrites.com</a> with the topic you are intested in and we will send you a custom list of great people to follow. </b>
        </p>
        <p>
        We'll also let you know when everything is fixed. Thanks for using SocialBrites!
        </p>
        </div>
    </div>
</body>